<!DOCTYPE html>
<html lang ='en'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%- include partial/head%>
    <body align='center'>
            <h1>REGISTER</h1>
            <%if(err) {%>  
                <div class="w3-container w3-red">
                    <td>Please fill in Username and Password</td>
                </div>
            <%}%>
        <p>
            <div align='center'>
                <form class ='' action='/registeruser' method='post' enctype = "multipart/form-data">
                    <input class="w3-input" style="width:25%"  type='text' name='register_username' value='' placeholder='Username'>
                    <input class="w3-input" style="width:25%"  type='password' name='register_password' value='' placeholder='Password'>
                    <select  class="w3-select w3-border" name= 'register_role' style='width: 25%'>
                        <option value='Teacher'>Teacher</option>
                        <option value='Academic'>Academic</option>
                        <option value='Headmaster'>Headmaster</option>
                    </select>
                    <input type="file" name="userFile" />
                    <input class="w3-input" style="width:25%"  type='submit' value='Register'>
                </form>
            </div>
        </p>
        <%- include partial/home.ejs %>
    </body>
</html>